.flex-row {
	display: flex;
	flex-flow:row nowrap;
}
.flex-col {
	display: flex;
	flex-flow: column nowrap;
}

.justify-start {
	justifiy-content:flex-start;
}
.justify-between {
	justify-content:space-between;
}
.justify-center {
	justify-content: center;
}

.align-center {
	align-items:center;
}
.align-start{
	align-items:flex-start;
}