{% extends 'base.twig' %}


{% block css %}
<link href="style/flex.css" rel="stylesheet" />
<style type="text/css">
label.large-font {
	font-size:2rem;
}
footer.page-footer{
	position:fixed;
	bottom: 0px;
	width:100%;
}
</style>
{% endblock %}

{% block left_nav %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Welcome!</span>
				<img src="img/welcome.jpg" id="image" />
				<p>
					Bacon ipsum dolor amet boudin t-bone turkey bresaola swine. Capicola tail shankle, sirloin corned beef turducken ribeye andouille cow pastrami sausage hamburger prosciutto kielbasa short loin. Beef ribs frankfurter fatback, short loin capicola tenderloin ribeye brisket ground round swine turducken corned beef picanha. Leberkas capicola pork, tenderloin porchetta tri-tip turducken pastrami kevin. Biltong ham hock pork chop, strip steak ball tip porchetta frankfurter bresaola pastrami andouille. Boudin jerky short loin flank hamburger kevin. Ball tip hamburger flank, pastrami meatball rump leberkas.
				</p>
			</div>
		</div>
	</div>
	{#<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Goals</span>
				<div id="goals">
					<input type="text" class="col s4" placeholder="Quantity" />
					<select class="browser-default col s4">
						<option value="hour">Hours</option>
						<option value="minute">Minutes</option>
						<option value="calorie">Calories</option>
						<option value="workout">Workouts</option>
					</select>
					<select class="browser-default col s3">
						<option value="daily">Daily</option>
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
					</select>
					<a href="#!" class="delete col s1 flex-row justify-center align-center black-text" data-row="0"><i class="material-icons">close</i></a>
				</div>
				<div class="card-action">
					<a href="#!" class="black-text" id="new-goal"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12">
		<div class="card">
			<div class="card-content" id="pair">
				<span class="card-title black-text">Smart Device</span>
				<button class="waves-effect waves-light btn">Pair</button>
			</div>
		</div>
	</div>

	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Info</span>
				<div class="row">
					<h4 class="col s3">Height:</h4>
					<input type="text" class="col s5 offset-s1" value={{state.info.height}} />
					<select class="browser-default col s2 offset-s1">
						<option value="in">in</option>
						<option value="cm">cm</option>
					</select>
				</div>
				<div class="row">
					<h4 class="col s3">Weight:</h4>
					<input type="text" class="col s5 offset-s1" value={{state.info.weight}} />
					<select class="browser-default col s2 offset-s1">
						<option value="ilbs">Ilbs</option>
						<option value="kg">kg</option>
					</select>
				</div>
				<div>
					<input type="checkbox" id="track" />
					<label for="track" class="black-text large-font">Track BMI</label>
				</div>
			</div>
		</div>
	</div>#}
</div>
{% endblock %}

{% block footer %}
<footer class='page-footer blue'>
	<div class="container">
		<div class="row">
			<div class="col s6 flex-row justify-center align-center">
				<a href="index" class="waves-effect waves-dark btn-flat white-text">Skip</a>
			</div>
			<div class="col s6 flex-row justify-center align-center">
				<a href="setup?state={{next}}" class="waves-effect waves-dark btn-flat white-text">Next</a>
			</div>
		</div>
	</div>
</footer>
{% endblock %}

{% block js %}
<script src="js/element.js"></script>
<script type="text/javascript">
$("#image").width($("#image").parent().width());
</script>
{% endblock %}