{% extends 'base.twig' %}

{% block css %}
<link href="style/flex.css" rel="stylesheet" />
<style type="text/css">
.time {
	font-size:70px;
}
ul.left, ul.left li, ul.left li a {
	height:100%;
}
#next-wrapper{
	margin-bottom: 0px;
}
</style>
{% endblock %}

{% block left_nav %}
<ul class="left">
	<li><a href="{{back}}" class="nav-item"><i class="material-icons">arrow_back</i></a></li>
</ul>
{% endblock %}

{% block content %}
<form class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title black-text">Activity</span>
				<div class="input-field">
					<select id="search" class="browser-default">
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card">
			<div class="card-content row" id="step">
				<span class="card-title black-text">Target</span>
				<div class="input-field col s12">
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card">
			<div class="card-content row" id="next-wrapper">
				<a href="{{next}}" id="next" class="col s12 waves-effect waves-light btn-large disabled green lighten-1 white-text">
					Next
					<i class="material-icons right">play_arrow</i>
				</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="js/element.js"></script>
<script type="text/javascript">
	var root_ele = document.getElementById("tracker");
	var exercises = {{exercises|raw}};

	var removeChildren = function(ele){
		while(ele.firstChild){
			ele.removeChild(ele.firstChild);
		}
	}

	var onchange_handler = function(ele, data){
		return function(event){
			var steps = data[event.currentTarget.value];
			removeChildren(ele);
			ele.appendChild(element('span', {'class':'card-title black-text'}, [
				text('Target')
			]));
			ele.appendChild(element('div', {'class':'col s8 input-field'}, [
				element('input', {'type':'text', 'placeholder':'Step', 'id':'step_text'}, [])
			]));
			ele.appendChild(element('div', {'class':'col s4 input-field'}, [
				element('select', {'class':'browser-default'}, steps.map(function(step){
					return element('option', {'value':step}, [text(step)])
				}))
			]));
			document.getElementById('step_text').addEventListener('change', function(event){
				console.log(this)
				if($(this).val() == "" && !$("#next").hasClass('disabled'))
					$("#next").addClass('disabled');
				if($(this).val() != "" && $("#next").hasClass("disabled"))
					$("#next").removeClass("disabled");
			});
		}
	}

	var render_exercises = function(ele, data){
		removeChildren(ele);
		for(opt in data){
			ele.appendChild(element('option', {'id':opt, 'value':opt}, [
				text(opt)
			]));
		}
		ele.addEventListener('change', onchange_handler(document.getElementById('step'), data));
		//Fake event to init with whatever exercise is first
		onchange_handler(document.getElementById('step'), data)({currentTarget:ele});
	}

	render_exercises(document.getElementById('search'), exercises);
</script>
{% endblock %}